/*Hêlo2*/


h1,
h2,
h3,
h4,
h5,
h6 {
	
}

h1 {
	font-family: lato!important;
}

h2 {
	font-family: 'Anton'!important;
	font-weight: normal!important;
	font-style: normal!important;
}

h3 {
	font-family: lato!important;
}

h4 {
	font-family: lato!important;
}

h5 {
	font-family: lato!important;
}

h6 {
	font-family: lato!important;

}

/*
#mega-menu-wrap-top.mega-sticky {
    background-color: #0073aa!important;
}
.metaslider {
    height: 1200px;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
}

.site-branding {
	position: absolute!important;
	width: 100%;
    margin-bottom: 0px!important;
}
@media screen and (min-width: 30em)
.page-one-column .panel-content .wrap {
    max-width: 904px!important;
}
*/